BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "COLandROW[0]" SITE "N6" ;
LOCATE COMP "COLandROW[1]" SITE "P6" ;
LOCATE COMP "COLandROW[2]" SITE "N5" ;
LOCATE COMP "COLandROW[3]" SITE "L3" ;
LOCATE COMP "COLandROW[4]" SITE "P7" ;
LOCATE COMP "COLandROW[5]" SITE "N7" ;
LOCATE COMP "COLandROW[6]" SITE "P8" ;
LOCATE COMP "COLandROW[7]" SITE "N8" ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "button_four[0]" SITE "L14" ;
LOCATE COMP "button_four[1]" SITE "M13" ;
LOCATE COMP "button_four[2]" SITE "M14" ;
LOCATE COMP "button_four[3]" SITE "N14" ;
LOCATE COMP "led_four[0]" SITE "N13" ;
LOCATE COMP "led_four[1]" SITE "M12" ;
LOCATE COMP "led_four[2]" SITE "P12" ;
LOCATE COMP "led_four[3]" SITE "M11" ;
LOCATE COMP "a_to_g[6]" SITE "A10" ;
LOCATE COMP "a_to_g[5]" SITE "C11" ;
LOCATE COMP "a_to_g[4]" SITE "F2" ;
LOCATE COMP "a_to_g[3]" SITE "E1" ;
LOCATE COMP "a_to_g[2]" SITE "E2" ;
LOCATE COMP "a_to_g[1]" SITE "A9" ;
LOCATE COMP "a_to_g[0]" SITE "B9" ;
LOCATE COMP "seg" SITE "C9" ;
