BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

locate comp "clk" site C1;
locate comp "pulse_out" site P9;
locate comp "display" site G3;
locate comp "key_menu" site L14;
locate comp "key_up" site M14;
locate comp "key_down" site N14;